

<footer>
    <div class="container-fluid">
        <div class="newFooter">
        <div class="row">
        <div class="col s6 m4 l4 blockfoot">
            <span class="footTitle">ПОКУПЦЮ</span>
            <ul class="liListFoot">
                <li >
                    <a routerLink="/blog-posts">Новини</a>
                </li>

                <li>
                    <a routerLink="/dostavka-oplata-internet-store">Доставка і оплата</a>
                </li>

                <li>
                    <a routerLink="/blog/vozvrat-obmen">Гарантія та повернення</a>
                </li>

                <li>
                    <a routerLink="/blog/uslugi-v-magazinah-Arber">Послуги в магазинах</a>
                </li>

                <li>
                    <a routerLink="/blog/korporativnue-zakazy-Arber">Корпоративні замовлення</a>
                </li>

                <li>
                    <a routerLink="/blog/rozmernaya-setka">Розмірна сітка</a>
                </li>

                <li>
                    <a routerLink="/Login-Show">Особистий кабінет</a>
                </li>
            </ul>
        </div>

            <div class="col s6 m3 l3 blockfoot">
                <span class="footTitle">КОМПАНІЯ</span>
            <ul class="liListFoot">
                <li>
                    <a routerLink="/blog/istoriya-arber">Про Arber</a>
                </li>

                <li>
                    <a routerLink="/blog/Arber-football">Arber та футбол</a>
                </li>

                <li>
                    <a routerLink="/blog/brendy-Arber-Gregory-Arber">Бренди</a>
                </li>

                <li>
                    <a routerLink="/blog/programma-loyalnosti-Arber-League">Програма лояльності</a>
                </li>

                <li>
                    <a routerLink="/blog/vacansii">Вакансії</a>
                </li>
                <li>
                    <a routerLink="/blog/contakty">Контакти</a>
                </li>
               <!-- <li>
                    <a href="#">Магазини</a>
                </li> -->
            </ul>
        </div>

        <div class="col s12 m5 l5">
            <span class="footTitle">НАШІ ПАРТНЕРИ</span>
            <ul class="liListFootlogo">
                <li class="pLogo"><a href="#"><img src="../../assets/images/bg/ukraine.png"></a></li>
                <li class="pLogo"><a href="#"><img src="../../assets/images/bg/dynamo.png"></a></li>
            </ul>
            <span class="footTitle">МИ В СОЦІАЛЬНИХ МЕРЕЖАХ</span>
            <ul class="liListFootlogo">
                <li class="pLogo"><a href="https://www.facebook.com/ArberStores/"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a></li>
                <!--<li class="pLogo"><a href="#"><i class="fa fa-google fa-2x" aria-hidden="true"></i></a></li>-->
                <li class="pLogo"><a href="https://www.instagram.com/arberstores/"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></li>
                <!--<li class="pLogo"><a href="#"><i class="fa fa-pinterest-p fa-2x" aria-hidden="true"></i></a></li>-->

            </ul>
        </div>
    </div>
    </div>
    </div>
</footer>
<div class="copiright">
    <p>ARBER © 2016-2018</p>
</div>
