.jh-btn-social {
  margin-bottom: 5px;
}

.sosiBtn{
  background-color: white;
  border: 1px solid #183051;
  color: #183051;
  margin-left: 5px;
  margin-top: 3px;
  width: 30px;
  font-size: 20px;
}

.jh-btn-google {
  background-color: #dd4b39;
  border-color: rgba(0, 0, 0, 0.2);
  color: #fff;
}

.jh-btn-google:hover, .jh-btn-google:focus, .jh-btn-google:active, .jh-btn-google.active, .open > .dropdown-toggle.jh-btn-google {
  background-color: #c23321;
  border-color: rgba(0, 0, 0, 0.2);
  color: #fff;
}

.jh-btn-facebook {
  background-color: #3b5998;
  border-color: rgba(0, 0, 0, 0.2);
  color: #fff;
}

.jh-btn-facebook:hover, .jh-btn-facebook:focus, .jh-btn-facebook:active, .jh-btn-facebook.active, .open > .dropdown-toggle.jh-btn-facebook {
  background-color: #2d4373;
  border-color: rgba(0, 0, 0, 0.2);
  color: #fff;
}
