<div class="inInstagram">
<div class="title">
  <h4>МИ В ІНСТАГРАМІ<strong class="goldStrong"> @ARBERSTORES</strong></h4>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col s12 m12 l12 cont">
  <!--<img src="https://focus.ua/modules/thumb.php?u=../files/2014/Advertisment%20/ABR_0002_1.jpg&m=c_large" alt="Avatar" class="image" style="width:100%">-->

      <!-- LightWidget WIDGET -->
      <script src="//lightwidget.com/widgets/lightwidget.js"></script>
      <iframe src="//lightwidget.com/widgets/e10bb6fc572d54fba3ec198d591ff661.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>


    </div>

  </div>
</div>
</div>