<div class="container-fluid">
    <div class="activate-forms">
        <div class="row">
            <div class="col s12 l12 m12">
                <h3>НОВИЙ ПАРОЛЬ</h3>

                <h4>Введіть новий пароль</h4>
                <form class="example-form">
                    <mat-form-field class="example-full-width">
                        <input matInput type="password" placeholder="Новий пароль" name="password" [(ngModel)]="password" value="" #passwordRef="ngModel" required />
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <input matInput type="password" placeholder="Пароль повторно" name="password2" [(ngModel)]="password2" value="" #password2Ref="ngModel" required />
                    </mat-form-field>
                    <small class="error" *ngIf="password!=password2">Паролі не збігаються!</small>
                    <small class="error" *ngIf="error">Помилка активації!</small>
                </form>
                <button [disabled]="passwordRef.errors?.required || error || password!=password2 || success" class="enterbtmail" mat-button (click)="saveNewPassword()">ЗБЕРЕГТИ</button>
                <h3 *ngIf="success">Пароль успішно змінено!</h3>
            </div>
        </div>
    </div>
</div>