<div class="descCabMenu">
<ul class="cabinetMenuUl">
  <li class="cabinetmenuLi"><a *ngIf="!isCartEmpty" routerLink="/shipping" class="userLi">Відкриті замовлення</a></li>
  <li class="cabinetmenuLi"><a routerLink="/order-list" class="userLi">Оформленні замовлення</a></li>
  <li class="cabinetmenuLi"><a routerLink="/returnlist" class="userLi">Повернення</a></li>
  <li class="cabinetmenuLi"><a routerLink="/me" class="userLi">Мої данні</a></li>
  <li class="cabinetmenuLi"><a routerLink="/cabinet/setings" class="userLi">Налаштування</a></li>
  <li class="cabinetmenuLi"><a class="exit" (click)="logout()">Вихід</a></li>
</ul>
</div>

<div class="mobCabMenu">
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{menuName}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ul class="cabinetMenuUl">
      <li class="cabinetmenuLi"><a *ngIf="!isCartEmpty" routerLink="/shipping"  class="userLi">Відкриті замовлення</a></li>
      <li class="cabinetmenuLi"><a routerLink="/order-list"  class="userLi">Оформленні замовлення</a></li>
      <li class="cabinetmenuLi"><a routerLink="/returnlist"  class="userLi">Повернення</a></li>
      <li class="cabinetmenuLi"><a routerLink="/me"  class="userLi">Мої данні</a></li>
      <li class="cabinetmenuLi"><a routerLink="/cabinet/setings"  class="userLi">Налаштування</a></li>
      <li class="cabinetmenuLi"><a class="exit" (click)="logout()">Вихід</a></li>
    </ul>
  </mat-expansion-panel>
</mat-accordion>
</div>
