<div class="page-header">
  <h3>ТОВАР ТИЖНЯ</h3>
  <p>Чоловічий брендовий одяг | Костюми Gregory Arber</p>
</div>
<div class="container-fluid">
  <div class="col-xs-12">
    <div class="carousel slide" id="myCarousel">
      <div class="carousel-inner">
        <div class="item active">
          <ul class="thumbnails">
            <li class="col-sm-3">
              <div class="casing">
                <div class="thumbnail">
                  <a href="#"><img src="http://arber.od.ua:8081/AE03.05.10/1.jpg" alt=""></a>
                </div>
                <div class="caption">
                  <h4>КОСТЮМ ЧОЛОВІЧИЙ</h4>
                  <ul class="ulPrice">
                    <li class="oldPrice">3 800грн</li>
                    <li class="newPrice"> 2 500грн</li>
                  </ul>
                  <a class="btn btn-mini" href="#">» ДОКЛАДНІШЕ</a>
                </div>
              </div>
            </li>
            <li class="col-sm-3">
              <div class="casing">
                <div class="thumbnail">
                  <a href="#"><img src="http://arber.od.ua:8081/AE03.05.10/1.jpg" alt=""></a>
                </div>
                <div class="caption">
                  <h4>КОСТЮМ ЧОЛОВІЧИЙ</h4>
                  <ul class="ulPrice">
                    <li class="oldPrice">3 800грн</li>
                    <li class="newPrice"> 2 500грн</li>
                  </ul>
                  <a class="btn btn-mini" href="#">» ДОКЛАДНІШЕ</a>
                </div>
              </div>
            </li>
            <li class="col-sm-3">
              <div class="casing">
                <div class="thumbnail">
                  <a href="#"><img src="http://arber.od.ua:8081/AE03.05.10/1.jpg" alt=""></a>
                </div>
                <div class="caption">
                  <h4>КОСТЮМ ЧОЛОВІЧИЙ</h4>
                  <ul class="ulPrice">
                    <li class="oldPrice">3 800грн</li>
                    <li class="newPrice"> 2 500грн</li>
                  </ul>
                  <a class="btn btn-mini" href="#">» ДОКЛАДНІШЕ</a>
                </div>
              </div>
            </li>
            <li class="col-sm-3">
              <div class="casing">
                <div class="thumbnail">
                  <a href="#"><img src="http://arber.od.ua:8081/AE03.05.10/1.jpg" alt=""></a>
                </div>
                <div class="caption">
                  <h4>КОСТЮМ ЧОЛОВІЧИЙ</h4>
                  <ul class="ulPrice">
                    <li class="oldPrice">3 800грн</li>
                    <li class="newPrice"> 2 500грн</li>
                  </ul>
                  <a class="btn btn-mini" href="#">» ДОКЛАДНІШЕ</a>
                </div>
              </div>
            </li>
          </ul>
        </div><!-- /Slide1 -->
        <div class="item">
          <ul class="thumbnails">
            <li class="col-sm-3">
              <div class="casing">
                <div class="thumbnail">
                  <a href="#"><img src="http://arber.od.ua:8081/AE03.05.10/1.jpg" alt=""></a>
                </div>
                <div class="caption">
                  <h4>КОСТЮМ ЧОЛОВІЧИЙ</h4>
                  <ul class="ulPrice">
                    <li class="oldPrice">3 800грн</li>
                    <li class="newPrice"> 2 500грн</li>
                  </ul>
                  <a class="btn btn-mini" href="#">» ДОКЛАДНІШЕ</a>
                </div>
              </div>
            </li>
            <li class="col-sm-3">
              <div class="casing">
                <div class="thumbnail">
                  <a href="#"><img src="http://arber.od.ua:8081/AE03.05.10/1.jpg" alt=""></a>
                </div>
                <div class="caption">
                  <h4>КОСТЮМ ЧОЛОВІЧИЙ</h4>
                  <ul class="ulPrice">
                    <li class="oldPrice">3 800грн</li>
                    <li class="newPrice"> 2 500грн</li>
                  </ul>
                  <a class="btn btn-mini" href="#">» ДОКЛАДНІШЕ</a>
                </div>
              </div>
            </li>
            <li class="col-sm-3">
              <div class="casing">
                <div class="thumbnail">
                  <a href="#"><img src="http://arber.od.ua:8081/AE03.05.10/1.jpg" alt=""></a>
                </div>
                <div class="caption">
                  <h4>КОСТЮМ ЧОЛОВІЧИЙ</h4>
                  <ul class="ulPrice">
                    <li class="oldPrice">3 800грн</li>
                    <li class="newPrice"> 2 500грн</li>
                  </ul>
                  <a class="btn btn-mini" href="#">» ДОКЛАДНІШЕ</a>
                </div>
              </div>
            </li>
            <li class="col-sm-3">
              <div class="casing">
                <div class="thumbnail">
                  <a href="#"><img src="http://arber.od.ua:8081/AE03.05.10/1.jpg" alt=""></a>
                </div>
                <div class="caption">
                  <h4>КОСТЮМ ЧОЛОВІЧИЙ</h4>
                  <ul class="ulPrice">
                    <li class="oldPrice">3 800грн</li>
                    <li class="newPrice"> 2 500грн</li>
                  </ul>
                  <a class="btn btn-mini" href="#">» ДОКЛАДНІШЕ</a>
                </div>
              </div>
            </li>
          </ul>
        </div><!-- /Slide2 -->
        <div class="item">
          <ul class="thumbnails">
            <li class="col-sm-3">
              <div class="casing">
                <div class="thumbnail">
                  <a href="#"><img src="http://arber.od.ua:8081/AE03.05.10/1.jpg" alt=""></a>
                </div>
                <div class="caption">
                  <h4>КОСТЮМ ЧОЛОВІЧИЙ</h4>
                  <ul class="ulPrice">
                    <li class="oldPrice">3 800грн</li>
                    <li class="newPrice"> 2 500грн</li>
                  </ul>
                  <a class="btn btn-mini" href="#">» ДОКЛАДНІШЕ</a>
                </div>
              </div>
            </li>
            <li class="col-sm-3">
              <div class="casing">
                <div class="thumbnail">
                  <a href="#"><img src="http://arber.od.ua:8081/AE03.05.10/1.jpg" alt=""></a>
                </div>
                <div class="caption">
                  <h4>КОСТЮМ ЧОЛОВІЧИЙ</h4>
                  <ul class="ulPrice">
                    <li class="oldPrice">3 800грн</li>
                    <li class="newPrice"> 2 500грн</li>
                  </ul>
                  <a class="btn btn-mini" href="#">» ДОКЛАДНІШЕ</a>
                </div>
              </div>
            </li>
            <li class="col-sm-3">
              <div class="casing">
                <div class="thumbnail">
                  <a href="#"><img src="http://arber.od.ua:8081/AE03.05.10/1.jpg" alt=""></a>
                </div>
                <div class="caption">
                  <h4>КОСТЮМ ЧОЛОВІЧИЙ</h4>
                  <ul class="ulPrice">
                    <li class="oldPrice">3 800грн</li>
                    <li class="newPrice"> 2 500грн</li>
                  </ul>
                  <a class="btn btn-mini" href="#">» ДОКЛАДНІШЕ</a>
                </div>
              </div>
            </li>
            <li class="col-sm-3">
              <div class="casing">
                <div class="thumbnail">
                  <a href="#"><img src="http://arber.od.ua:8081/AE03.05.10/1.jpg" alt=""></a>
                </div>
                <div class="caption">
                  <h4>КОСТЮМ ЧОЛОВІЧИЙ</h4>
                  <ul class="ulPrice">
                    <li class="oldPrice">3 800грн</li>
                    <li class="newPrice"> 2 500грн</li>
                  </ul>
                  <a class="btn btn-mini" href="#">» ДОКЛАДНІШЕ</a>
                </div>
              </div>
            </li>
          </ul>
        </div><!-- /Slide3 -->
      </div>


      <nav class="carouselProdMainNav">
        <ul class="control-box pager">
          <li class="left"> <a data-slide="prev" href="#myCarousel" class="arrowStil"><i class="fa fa-angle-left fa-3x backRow"  aria-hidden="true"></i></a></li>
          <li class="right"><a data-slide="next" href="#myCarousel" class="arrowStil"><i class="fa fa-angle-right fa-3x nexRow" aria-hidden="true"></i></a></li>
        </ul>
      </nav>
      <!-- /.control-box -->

    </div><!-- /#myCarousel -->

  </div><!-- /.col-xs-12 -->

</div><!-- /.container -->