.mainBlogAnnonce{
  margin-top: -144px;
}

.htmlBlockMain{
  margin-top: 100px;
}

.titleBlock{
  padding-top: 20px;
  color: #183051;
}
.titleBlock:hover{
  color: #c19f63;
  text-decoration: none;
}

.atitBl:hover{
  text-decoration: none;
}

.shortdesc{
  margin-top: -15px;
  color: gray;
}

.imgAnMain{
  width: 100%;
  opacity: 0.9;
}

.imgAnMain:hover{
  opacity: 1;
}

@media only screen and (max-width: 780px) {


  .container-fluid{
  padding-right: 0px;
  padding-left: 0px;
}
}