<div class="container-fluid">
  <div class="process">
    <div class="process-row">
      <div class="process-step">
        <button type="button" class="btn btn-success " disabled="disabled"><i class="fa fa-user fa-2x"></i></button>
        <p>Вхід або регістрація</p>
      </div>
      <div class="process-step">
        <button type="button" class="btn btn-default btn-circle" disabled="disabled"><i class="fa fa-comments-o fa-2x"></i></button>
        <p>Доставка</p>
      </div>
      <div class="process-step">
        <button type="button" class="btn btn-default btn-circle" disabled="disabled"><i class="fa fa-thumbs-up fa-2x"></i></button>
        <p>Оплата</p>
      </div>
    </div>
  </div>
</div>
