
.order-list-table{
  margin-top: 80px;
  margin-bottom: 30px;
  min-height: 300px;
  display: block;
  padding: 10px;
  width: 100%;
}

.returnOrder{
  margin-top: 0px;
}

.container-fluid{
  margin: 0px;
  padding: 0px;
}
.orderList-page{
  margin-top: 50px;
  background-color: white;
  border-bottom: 1px solid #eee;
  height: 50px;
  width: 100%;
  display: inline-flex;
}

@media only screen and (max-width: 780px) {
  .order-list-table{
    padding: 0px;
  }
  .desc{
    display: none;
  }
}