

a{
  color: #c19f63;
}

.agm-map-detail {
  width: 100%;
  height: 240px;
}

.stores{
  padding-top: 80px;
  padding-left: 30px;
  padding-right: 30px;
}

.bigShopPhoto{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
}

.bgStorDet{
  width: 100%;
  height: 520px;
}

.teserStor {
  margin: 0px;
  padding: 0px;
  border: 1px solid whitesmoke;
}

.smStorImg{
  width: 100%;
}

.backToStors{
  color: gray;
}

.h5adressShopDetale{
  margin-top: 50px;
}


.imgBlock{
  margin: 0px;
  padding: 0px;
}

.smStorName{
  padding-top: 12px;
  padding-left: 10px;
}


.locator{
  width: 380px;
  min-height: 500px;
  background-color: white;
  position: relative;
  margin-top: 10px;
  z-index: 1;
  margin-left: -6px;
  padding: 20px;
}

.storeslink{
  color: black;
  font-size: 18px;
  display: block;
  padding-top: 5px;
}

@media only screen and (max-width: 780px) {
  .map{
    display: none;
  }
  .stores{
    padding-top: 50px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .locator{
    min-height: 400px;
  }
  .bigShopPhoto{
    display: none;
  }
  .agm-map-detail{
    width: 80%;
  }
}

